<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <style>
        #body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .email {
           width: 750px;
        }

        /* Email Header */
        .header__img {
            margin: 10px 0;
        }

        .header__img img{
            width: 100%;
            height: 200px;
        }

        .header__text {
            margin: 0 20px;
        }

        .header__text div:first-child {
            font-size: 30px;
            font-weight: 600;
        }

        .header__text div:last-child {
            font-size: 30px;
            font-weight: 500;
            color: rgb(250, 67, 67);
            margin: 5px 0 10px;
        }

        /* Email Body */
        .email-body {
            margin: 0 20px;
        }

        .email-body__header {
            margin-bottom: 20px;
        }

        .current-date {
            margin-bottom: 10px;
        }

        #table {
            border-collapse: collapse;
            width: 100%;
        }

        #table td, #table th {
            border: 1px solid #ddd;
        }

        #table td:first-child {
            width: 30%;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table th {
            padding:12px 0;
            background-color: #122C43;
            color: white;
        }

        #table td {
            padding:8px 5px;
            border-bottom: 1px solid #122C43;

        }

        /* Email Footer */
        .email-footer {
            margin: 20px;
        }

        .footer-text {
            font-size: 20px;
            font-weight: 600;
        }

        .footer-infor {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
        }

        .footer-phone i,
        .footer-website i{
            color: rgb(250, 67, 67);
            margin-right: 10px;
        }

        .footer-website a{
            text-decoration: none;

        }

        .bar1{
            background-image: linear-gradient(to right, #FF5821, #FFBB00);
            width: 100%;
            height: 10px;
        }

        .bar2{
            background-image: linear-gradient(to right, #4AAED0, #8FB380);
            width: 100%;
            height: 15px;
        }
    </style>

    <div id="body">
        <div class="email">
            <!-- Header -->
            <div class="header__img">
                <img src="https://www.somkiat.cc/wp-content/uploads/2021/01/k6.png" alt="k6">
            </div>

            <div class="header__text">
                <div>Send to: </div>
                <div>Mr/Madam</div>
            </div>

            <!-- Body -->
            <div class="email-body">
                <div class="email-body__header">
                    <div class="current-date"></div>
                    <div class="Result-text">Result by K6 with Grafana and InfluxDB</div>
                </div>
                <table id="table">
                    <tr>
                        <th>METRIX</th>
                        <th>VALUE</th>
                    </tr>
                    <tr>
                        <td>Data received</td>
                        <td>{{.DataReceived}}</td>
                    </tr>
                    <tr>
                        <td>Data sent</td>
                        <td>{{.DataSent}}</td>
                    </tr>
                    <tr>
                        <td>Http req blocked</td>
                        <td>{{.HttpReqBlocked}}</td>
                    </tr>
                    <tr>
                        <td>Http req connecting</td>
                        <td>{{.HttpReqConnection}}</td>
                    </tr>
                    <tr>
                        <td>Http req duration</td>
                        <td>{{.HttpReqConnection}}</td>
                    </tr>
                    <tr>
                        <td>Http req failed</td>
                        <td>{{.HttpReqFailed}}</td>
                    </tr>
                    <tr>
                        <td>Http req receiving</td>
                        <td>{{.HttpReqReceiving}}</td>
                    </tr>
                    <tr>
                        <td>Http req sending</td>
                        <td>{{.HttpReqSending}}</td>
                    </tr>
                    <tr>
                        <td>Http req tls handshaking</td>
                        <td>{{.HttpReqTlsHandshaking}}</td>
                    </tr>
                    <tr>
                        <td>Http req waiting</td>
                        <td>{{.HttpReqWaiting}}</td>
                    </tr>
                    <tr>
                        <td>Http reqs</td>
                        <td>{{.HttpReqs}}</td>
                    </tr>
                    <tr>
                        <td>Iteration duration</td>
                        <td>{{.IterationDuration}}</td>
                    </tr>
                    <tr>
                        <td>Iterations</td>
                        <td>{{.Iterations}}</td>
                    </tr>
                    <tr>
                        <td>Vus</td>
                        <td>{{.Vus}}</td>
                    </tr>
                    <tr>
                        <td>Vus max</td>
                        <td>{{.VusMax}}</td>
                    </tr>
                </table>
            </div>

            <!-- Email Footer -->
            <div class="email-footer">
                <div class="footer-text">Thank you for using K6 with Grafana and InfluxDB</div>
                <div class="footer-infor">
                    <div class="footer-phone">
                        <i class="fas fa-phone-volume"></i>
                        0123.456.789
                    </div>
                    <div class="footer-website">
                        <i class="fas fa-location-arrow"></i>
                        <a href="https://k6.io/">k6.io</a>
                    </div>
                    <div class="footer-website">
                        <i class="fas fa-location-arrow"></i>
                        <a href="https://grafana.com/">grafana.com</a>
                    </div>
                </div>
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
        </div>
        <script>
            var currentDate = document.querySelector('.current-date');
            var today = new Date();
            var date = today.getFullYear() + '/' + (today.getMonth()+1) + '/' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' +time;

            currentDate.innerHTML = `Date: ${dateTime}`;
        </script>
    </div>
</body>
</html>